In [2]:
import pandas as pd

# 读取 JSON 文件
df_meta = pd.read_json("../query_googlelocal/ground_truth_dataset/meta_gt.json", lines=True)
df_review = pd.read_json("../query_googlelocal/ground_truth_dataset/review_gt.json", lines=True)

In [3]:
df_meta

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,City Textile,Los Angeles,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,[Textile exporter],4.5,6,NaN,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
1,San Soo Dang,Los Angeles,0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,NaN,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,Nova Fabrics,Los Angeles,0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,[Fabric store],3.3,6,NaN,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nobel Textile Co,Los Angeles,0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,[Fabric store],4.3,7,NaN,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Matrix International Textiles,Commerce,0x80c2cf163db6bc89:0x219484e2edbcfa41,None,34.015505,-118.181839,[Fabric store],3.5,6,NaN,"[[Thursday, 8:30AM–5:30PM], [Friday, 8:30AM–5:...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 5:30PM,"[0x80c2cf042a5d9561:0xd0024ad6f81f1335, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,Taitz Orly DDS,Rancho Santa Margarita,0x80dcebb0f57d2047:0x9e642a2ee5eed29c,None,33.638067,-117.611222,[Dentist],4.4,48,NaN,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 9AM,"[0x80dcebb0f4c49b8f:0xf38d68e0039fde6a, 0x80dc...",https://www.google.com/maps/place//data=!4m2!3...
75,St John Knits International Inc,Irvine,0x80dcde96809ca927:0x9ba5b9ae5526f1fc,None,33.690160,-117.849098,[Women's clothing store],4.3,8,NaN,"[[Thursday, 10AM–6PM], [Friday, 10AM–6PM], [Sa...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 10AM,"[0x80dcdcf56eb54575:0x233b36a32226f099, 0x80dc...",https://www.google.com/maps/place//data=!4m2!3...
76,NEX Barbershop,Coronado,0x80d9532636343fc5:0x8ab94fe13542f7b,None,32.676192,-117.160373,[Barber shop],4.0,8,NaN,"[[Thursday, 7AM–5PM], [Friday, 7AM–5PM], [Satu...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 5PM,"[0x80d9534c8adf3713:0x4ac67169e4a52318, 0x80d9...",https://www.google.com/maps/place//data=!4m2!3...
77,Widows Peak Salon,Los Angeles,0x80c2c6594138441d:0x59088f7293270c3f,None,34.066292,-118.235713,[Hair salon],4.8,35,NaN,"[[Thursday, 11AM–8PM], [Friday, 11AM–7PM], [Sa...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 11AM,"[0x80c2c65afdaac50b:0x1a6b3ee710d6be7c, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
78,The Dream Junction,Santa Ana,0x80dcd8970ce4c31b:0x60ba91dcb32c3f3c,None,33.721438,-117.911658,"[Digital printer, Garment exporter]",2.7,48,NaN,"[[Thursday, 9AM–7PM], [Friday, 9AM–7PM], [Satu...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 9AM,"[0x80dcde8dfce91103:0x32cecf2be8ce14b3, 0x80dc...",https://www.google.com/maps/place//data=!4m2!3...

In [3]:
df = df_meta

address_counts = df["address"].value_counts().reset_index()
address_counts.columns = ["address", "count"]
address_counts

                   address  count
0              Los Angeles      7
1                Roseville      4
2               Sacramento      4
3                  Oakland      4
4   Rancho Santa Margarita      3
5                   Irvine      3
6                Fair Oaks      2
7                   Covelo      2
8                   Orange      2
9              Bakersfield      2
10               Riverside      2
11               Santa Ana      2
12                 Oakdale      2
13           Mammoth Lakes      1
14                Commerce      1
15               La Mirada      1
16              Carmichael      1
17               El Centro      1
18               San Diego      1
19          McClellan Park      1
20            Garden Grove      1
21                   Vista      1
22                Woodland      1
23                  Colfax      1
24                  Penryn      1
25          Citrus Heights      1
26                  Auburn      1
27                 Hanford      1
28                 Modesto      1
29                 Escalon      1
30                  Encino      1
31           Pleasant Hill      1
32                La Jolla      1
33                  Corona      1
34                Pasadena      1
35             Aliso Viejo      1
36                San Jose      1
37     San Juan Capistrano      1
38             San Leandro      1
39                  Orinda      1
40                  Tustin      1
41              Santa Cruz      1
42           Mission Viejo      1
43                Oroville      1
44                  Pomona      1
45              Long Beach      1
46                 Stanton      1
47                Lakewood      1
48           Moreno Valley      1
49                Murrieta      1
50            San Clemente      1
51                Coronado      1

In [4]:
df_review

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.131656e+20,Michael Rizal,1599164133778,5,Great company. Amazing customer service and th...,None,None,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9
1,1.012264e+20,Faranak Rafizadeh,1618261672851,5,Nice people\nhelpful,None,None,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9
2,1.111677e+20,Javier Perez,1524515066787,5,None,None,None,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9
3,1.162309e+20,Luis P.,1499739139293,5,None,None,None,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9
4,1.041817e+20,His Mama Cakez,1621410940638,3,None,None,None,0x80c2c98c0e3c16fd:0x29ec8a728764fdf9
...,...,...,...,...,...,...,...,...
1995,1.015530e+20,Bohemian Harlem,1576897040619,1,5 day’s in production the customer definitely ...,None,None,0x80dcd8970ce4c31b:0x60ba91dcb32c3f3c
1996,1.053268e+20,Agent Skg,1598330060798,1,Unprofessional company ran by careless individ...,None,None,0x80dcd8970ce4c31b:0x60ba91dcb32c3f3c
1997,1.075275e+20,Riding Updrafts,1571764985437,1,Prinitfy users beware! I was so excited to hav...,None,None,0x80dcd8970ce4c31b:0x60ba91dcb32c3f3c
1998,1.090889e+20,money maker,1571854019287,1,"Order from printify, so many orders pile up st...",None,None,0x80dcd8970ce4c31b:0x60ba91dcb32c3f3c
1999,1.095447e+20,Work Zone Fitness,1516980302995,3,Overall the quality of the shirts are good. I'...,None,None,0x80dcd8970ce4c31b:0x60ba91dcb32c3f3c

In [5]:
# 过滤出地址包含 "CA" 的记录
df_meta_ca = df_meta[df_meta['address'].str.contains("Los Angeles", na=False)].copy()

# 为避免 name 冲突，重命名 meta_dataset 中的 name 列
df_meta_ca.rename(columns={"name": "meta_name"}, inplace=True)

# 合并两个 DataFrame，保留 CA 的店铺及其所有 review
df_merged = pd.merge(df_review, df_meta_ca[['gmap_id', 'meta_name']], on='gmap_id', how='inner')

# 计算每个 meta_name 的平均评分
df_avg_rating = df_merged.groupby('meta_name')['rating'].mean().reset_index()

# 获取评分最高的前 10 个店铺
df_top = df_avg_rating.sort_values(by='rating', ascending=False)

df_top

            meta_name    rating
6   Widows Peak Salon  4.857143
2        City Textile  4.500000
3    Nobel Textile Co  4.285714
5        San Soo Dang  4.277778
4        Nova Fabrics  3.333333
0  Ace Jewelry & Loan  3.285714
1      Beads and More  3.222222

In [9]:
import ast


# 设置关键词（你可以换成任何想找的关键词）
keyword = "store"

# 解析 category 字段
def parse_category(cat):
    if isinstance(cat, list):
        return cat
    try:
        return ast.literal_eval(cat)
    except:
        return []

df_meta['category_list'] = df_meta['category'].apply(parse_category)

# 过滤出包含关键词（不区分大小写）的商家
df_meta_filtered = df_meta[df_meta['category_list'].apply(
    lambda cat_list: any(keyword.lower() in c.lower() for c in cat_list)
)].copy()

# 重命名 name -> meta_name，避免冲突
df_meta_filtered.rename(columns={"name": "meta_name"}, inplace=True)

# 合并 review 和 meta 数据
df_merged = pd.merge(df_review, df_meta_filtered[['gmap_id', 'meta_name']], on='gmap_id', how='inner')

# 计算每个 meta_name 的平均评分
df_avg_rating = df_merged.groupby('meta_name')['rating'].mean().reset_index()

# 选出评分最高的前 10 个店铺
df_top10 = df_avg_rating.sort_values(by='rating', ascending=False)

df_top10

                          meta_name    rating
17             White Barn Candle Co  5.000000
6               Hanford Auto Supply  5.000000
15                 Taba Rug Gallery  5.000000
11         Northern Builders Supply  5.000000
3       Fitness Machine Technicians  4.965517
5                 HAVEN™ Dispensary  4.944056
4          Full Circle Trading Post  4.888889
7                    Laptop Masters  4.879310
2               Dunn-Edwards Paints  4.692308
13                  Ruby's Boutique  4.500000
16          Teter's Oakdale Jewelry  4.375000
10                 Nobel Textile Co  4.285714
14  St John Knits International Inc  4.250000
8     Matrix International Textiles  3.500000
12                     Nova Fabrics  3.333333
0                Ace Jewelry & Loan  3.285714
1                    Beads and More  3.222222
9   Mobile Moreno Valley Dispensary  1.000000

In [4]:
import ast
import pandas as pd

# 确保 category 是列表形式
def parse_category(cat):
    if isinstance(cat, list):
        return cat
    try:
        return ast.literal_eval(cat)
    except:
        return []

# 解析 category 字段
df_meta['category_list'] = df_meta['category'].apply(parse_category)

# 拆解多类别为多行
df_exploded = df_meta[['gmap_id', 'category_list']].explode('category_list').dropna()

# 合并评分信息
df_merged = pd.merge(df_review[['gmap_id', 'rating']], df_exploded, on='gmap_id', how='inner')

# 统计类别维度的指标：评论数量、平均评分、商家数量
df_stats = df_merged.groupby('category_list').agg(
    count=('rating', 'size'),                         # 总评论数
    avg_rating=('rating', 'mean'),                    # 平均评分
    business_count=('gmap_id', pd.Series.nunique)     # 不同商家数量
).reset_index()

# 取评论最多的前 10 类别
df_stats_top10 = df_stats.sort_values(by='count', ascending=False).head(10)




df_stats_top10

              category_list  count  avg_rating  business_count
92              Tattoo shop    378    4.960317               1
78               Print shop    186    4.204301               2
8              Beauty salon    179    4.424581               5
14           Cannabis store    143    4.944056               1
49               Hair salon    125    4.344000               3
62        Massage therapist    108    3.962963               8
36                   Doctor     84    4.142857               1
65               Nail salon     83    4.240964               2
27  Contact lenses supplier     68    4.411765               1
71              Optometrist     68    4.411765               1

In [5]:
# 过滤出 category 包含 "Massage therapist" 的记录
df_massage = df_merged[df_merged['category_list'] == "Massage therapist"].copy()

# 按商家（gmap_id）聚合：计算每个按摩商家的平均评分和评论数
df_massage_stats = df_massage.groupby('gmap_id').agg(
    avg_rating=('rating', 'mean'),
    review_count=('rating', 'size')
).reset_index()

# 添加商家名称（从 df_meta 中合并）
df_massage_stats = pd.merge(df_massage_stats, df_meta[['gmap_id', 'name']], on='gmap_id', how='left')

# 按评分排序
df_massage_stats_sorted = df_massage_stats.sort_values(by='avg_rating', ascending=False)

df_massage_stats_sorted

,gmap_id,avg_rating,review_count,name
4,0x809ae0a7ce91433b:0xe4b44fbb8c35ba57,5.000000,1,Elite Massage
2,0x809adef58ae560bd:0x83412889e022ff70,4.333333,6,Angel-A Massage
0,0x809ad993cd15cc69:0x38291ec9a11f59ed,4.178571,56,Aurora Massage
6,0x809b20f8059f58af:0xf05aed524fd9b93c,4.166667,6,J B Oriental Inc
1,0x809adee9ac6f1bd7:0xe2e56d16919b9b8d,3.933333,15,Orient Massage
3,0x809adfe022389d79:0x388b21219097be6c,3.875000,8,SUSY massage
5,0x809b1bfeefcce5ad:0x16a2199c791bab34,3.875000,8,Good Massage
7,0x809b217a6cbe4fa9:0x9fd06999c64c1815,2.125000,8,Happy Spa & Massage (Formerly Hawaii Massage &...

In [13]:
# 假设你已有 df_meta 和 df_review，并已经执行了 closes_after_6pm 逻辑
# 如果未加载 review 数据，请取消注释以下行：
# df_review = pd.read_json("your_path_to_review.json", lines=True)

# 合并：找到评分数据中的商家，并保留营业时间字段
df_late_with_reviews = pd.merge(
    df_open_late[['gmap_id', 'name', 'hours']],  # 只保留必要字段
    df_review[['gmap_id', 'rating']],
    on='gmap_id',
    how='inner'
)

# 计算平均评分
df_avg = df_late_with_reviews.groupby(['gmap_id', 'name', df_late_with_reviews['hours'].astype(str)]).agg(
    avg_score=('rating', 'mean')
).reset_index()

# 按评分降序排序并选出前 5 个
df_top5 = df_avg.sort_values(by='avg_score', ascending=False).head(5)

# 格式化输出
df_top5 = df_top5[['name', 'hours', 'avg_score']]
print("评分最高的前五家在晚上6点后仍营业的商家：")
print(df_top5.to_string(index=False))

评分最高的前五家在晚上6点后仍营业的商家：
                  name                                                                                                                                                                            hours  avg_score
       TACOS LA CABANA               [['Thursday', 'Closed'], ['Friday', '5–11PM'], ['Saturday', '5–11PM'], ['Sunday', '5–11PM'], ['Monday', '5–11PM'], ['Tuesday', 'Closed'], ['Wednesday', 'Closed']]   5.000000
  White Barn Candle Co [['Thursday', '10AM–9PM'], ['Friday', '10AM–9PM'], ['Saturday', '10AM–9PM'], ['Sunday', '11AM–7PM'], ['Monday', '10AM–9PM'], ['Tuesday', '10AM–9PM'], ['Wednesday', '10AM–9PM']]   5.000000
      Taba Rug Gallery [['Thursday', '10AM–7PM'], ['Friday', '10AM–7PM'], ['Saturday', '10AM–7PM'], ['Sunday', '11AM–6PM'], ['Monday', '10AM–7PM'], ['Tuesday', '10AM–7PM'], ['Wednesday', '10AM–7PM']]   5.000000
Beauty Divine Artistry      [['Thursday', '9AM–8PM'], ['Friday', '9AM–8PM'], ['Saturday', '10AM–7PM'], ['Sunday', '11AM–6PM'], ['Monday', '9AM–8PM'], ['Tuesday', '9AM–8PM'], ['Wednesday', '9AM–8PM']]   5.000000
       Paradise tattoo    [['Thursday', '12–10PM'], ['Friday', '12PM–12AM'], ['Saturday', '12PM–12AM'], ['Sunday', '12–10PM'], ['Monday', '12–10PM'], ['Tuesday', '12–10PM'], ['Wednesday', '12–10PM']]   4.960317

In [25]:
import pandas as pd

# Load data if needed
# df_review = pd.read_json("your_review_file.json", lines=True)

# Convert timestamp to datetime
df_review['datetime'] = pd.to_datetime(df_review['time'], unit='ms')

# Define fixed time range: Jan 1, 2018 to Jan 1, 2019
start_date = pd.Timestamp("2019-01-01")
end_date = pd.Timestamp("2020-01-01")
df_period = df_review[(df_review['datetime'] >= start_date) & (df_review['datetime'] < end_date)]

# Filter high-score reviews (rating >= 4.5)
df_highscore = df_period[df_period['rating'] >= 4.5]

# Count per business
df_highscore_count = df_highscore.groupby('gmap_id').size().reset_index(name='highscore_count')

# Sort and get top 3
df_top3 = df_highscore_count.sort_values(by='highscore_count', ascending=False).head(3)

# Optional: join with metadata to get business name
# df_meta = pd.read_json("your_meta_file.json", lines=True)
df_top3 = pd.merge(df_top3, df_meta[['gmap_id', 'name']], on='gmap_id', how='left')

# Show result
print("Top 3 businesses with the most high-score (≥4.5) reviews in 2018:")
print(df_top3.to_string(index=False))

Top 3 businesses with the most high-score (≥4.5) reviews in 2018:
                              gmap_id  highscore_count                                        name
 0x80c298276cf4f991:0xb668455a514e875               19 Encino Dermatology & Laser: Alex Khadavi MD
0x80dc7588a897ed91:0x190ac94f6ebb8c76               17                 The Boochyard @ Local Roots
0x809ad993cd15cc69:0x38291ec9a11f59ed               14                              Aurora Massage

In [24]:
latest_time = pd.to_datetime(df_review['time'], unit='ms').max()
print("Latest review time:", latest_time)

Latest review time: 2021-09-08 21:36:49.736000